.item {
  color: #3a1b14;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.button {
  margin-top: 10px;
  border-radius: 4px;
  background-color: white;
  color: #3a1b14;
}

.button:hover,
.button:focus {
  background-color: #3a1b14;
  color: white;
}
